; EditorConfig: shared editor settings across IDEs (IntelliJ, PyCharm, WebStorm, VS Code, etc.)
; Without this file, IDE defaults will conflict with ESLint/Checkstyle/etc...

root = true

[*.java]
indent_style = space
indent_size = 4

[*.ts]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
